body {
  background-image: url("http://i.imgur.com/PP3HA77.jpg");
}

#myheader {
  margin-top: 0;
  max-width: 100%;
  text-align: center;
  background: #47d1d1;
  color: #ffffff;
  padding: 15px 0 0 0;
  border-bottom: 20px solid #ff9900;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  font-weight: normal; 
}


.container {
  color: #bf00ff;
  font-weight: bold;
  font-size:16px;
  text-align: center;
  background-color: white;
  max-width: 500px;
  margin: 75px auto;
  padding-bottom: 40px;
  padding-top: 50px;
  border-radius: 10%;
}


select {
  color: #bf00ff;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  width: 201px;
  border: 1px solid #8600b3;
  padding-right: 2px;
}

input {
  color: #bf00ff;
  font-weight: normal;
  width: 197px;
  margin: 4px;
  border: 1px solid #8600b3;
  padding: 3px;
  
}

#theButton {
  margin-top: 25px;
  border: 1px solid #8600b3;
  background-color: white;
  color: #bf00ff;
}

#para {
  font-weight: normal;
  padding: 20px 10px 0px 10px;
}